
a_comprehensive_guide_to_ingesting_data_into_clickzetta/config-ingest.json
a_comprehensive_guide_to_ingesting_data_into_clickzetta/data/incident_reports.csv
a_comprehensive_guide_to_ingesting_data_into_clickzetta/data/incident_reports.json
.DS_Store
a_comprehensive_guide_to_ingesting_data_into_clickzetta/config/config-ingest.json
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/.name
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/encodings.xml
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/compiler.xml
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/jarRepositories.xml
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/Java_UnifiedSDK.iml
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/misc.xml
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/modules.xml
a_comprehensive_guide_to_ingesting_data_into_clickzetta/Ingest_data_with_java_sdk/.idea/workspace.xml
